@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DungGeunMo";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Paperlogy-8ExtraBold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-bg: #222;
  --color-bg-sec3: #181818;
  --color-font: white;
  --color-nav-bg: #333;
  --color-border: #444;
  --color-bar: linear-gradient(90deg, rgb(61, 61, 61) 0%, rgb(95, 95, 95) 100%);
  --font-title: DungGeunMo;
  --color-pj: #333;
}

html.light {
  --color-bg: whitesmoke;
  --color-bg-sec3: #eee;
  --color-font: black;
  --color-nav-bg: white;
  --color-border: lightgray;
  --color-bar: linear-gradient(90deg, rgb(133, 133, 133) 0%, rgb(194, 194, 194) 100%);
  --font-title: DungGeunMo;
  --color-pj: #eee;
}

ul,
li {
  list-style: none;
  margin: 0;
}

a {
  color: var(--color-font);
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Pretendard-Regular";
  min-width: 320px;
}

section {
  background-color: var(--color-bg);
  color: var(--color-font);
}

.progress-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: red;
  transform-origin: 0%;
}
