.sec {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.container {
  max-width: 1024px;
  padding: 140px 48px;
}

.title {
  text-align: center;
  color: var(--color-font);
  font-size: 64px;
  font-family: var(--font-title);
  padding-bottom: 36px;
}

.itemList {
  display: flex;
  flex-flow: column;
  gap: 48px;
}

.item {
  height: 300px;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  background-color: var(--color-pj);
}

.item:nth-child(even) {
  flex-direction: row-reverse;
}

.imageBox {
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.contentBox {
  width: 50%;
  text-align: left;
  padding: 24px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  word-break: keep-all;
}

.item:nth-child(even) .contentBox {
  text-align: right;
}

.itemTitle {
  font-size: 36px;
  font-weight: 600;
}

.itemSubtitle {
  font-size: 21px;
}

.itemTerm {
  font-size: 15px;
}

.bottomGroup {
  display: flex;
  justify-content: space-between;
  font-size: 36px;
}

.item:nth-child(even) .bottomGroup {
  flex-flow: row-reverse;
}

.itemSkills {
  display: flex;
  gap: 12px;
}

.github {
  display: flex;
  gap: 12px;
}

@media (max-width: 1280px) {
  .title {
    font-size: 48px;
  }
}

@media (max-width: 1024px) {
  .itemList {
    gap: 32px;
  }
  .itemTitle {
    font-size: 32px;
    line-height: 1.1;
  }
  .itemSubtitle {
    font-size: 18px;
  }
  .itemTerm {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 100px 24px;
  }

  .itemList {
    gap: 24px;
  }
  .item {
    flex-direction: column;
    height: 500px;
  }

  .item:nth-child(even) {
    flex-direction: column;
  }

  .imageBox {
    width: 100%;
    height: 50%;
  }

  .contentBox {
    width: 100%;
    height: 50%;
    padding: 18px;
  }

  .item:nth-child(even) .contentBox {
    text-align: left;
  }

  .item:nth-child(even) .bottomGroup {
    flex-flow: row;
  }

  .bottomGroup {
    font-size: 28px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 80px 24px;
  }
  .title {
    font-size: 36px;
  }
  .item {
    height: 400px;
  }
  .itemTitle {
    font-size: 24px;
  }
  .itemSubtitle {
    font-size: 16px;
  }
}
